.custom-table {
  width: 100%;
  border-collapse: collapse;
}

.cm_table_head {
  background-color: #f2f2f2;
}

.cm_table_head th {
  padding: 12px;
  text-align: center;
}

.custom-table th,
.custom-table td {
  border: 1px solid #ddd;
  padding: 8px;
}

.custom-table td {
  text-align: center;
}

.action-cell {
  display: flex;
  justify-content: space-around;
}

.action-cell button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.action-cell button img {
  height: 20px;
  width: 20px;
}
