.custom-table {
  width: 100%;
  border-collapse: collapse;
}

.cm_table_head {
  background-color: #f2f2f2;
}

.cm_table_head th {
  padding: 12px;
  text-align: center;
}

.custom-table th,
.custom-table td {
  border: 1px solid #ddd;
  padding: 8px;
}

.custom-table td {
  text-align: center;
}

.action-cell {
  display: flex;
  justify-content: space-around;
}

.action-cell button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.action-cell button img {
  height: 20px;
  width: 20px;
}

.form_icon {
    display: flex;
    align-items: center;
}

.form_icon img {
    margin-left: 8px; /* Adjust the value to set the desired distance */
}

.custom_button {
    display: flex;
    align-items: center;
    background-color: yellow;
    font-weight: bold;
    padding: 10px 20px; /* Adjust padding to make the button bigger */
    font-size: 16px; /* Adjust font size to make the button text bigger */
    border: 1px solid rgba(0, 0, 0, 0.2); /* Light black outline */
    border-radius: 5px; /* Border radius */
    cursor: pointer;
}

.custom_button img {
    margin-left: 5px; /* Adjust the value to set the desired distance */
}


.pagination {
 display: flex;
  justify-content: center;
  
}


/* .form-container {
  width: 400px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
} */

.form-container {
  width: 100%; /* Change width to 100% */
  max-width: 600px; /* Optionally set a maximum width */
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box; /* Ensure padding is included in the width */
}


.review-form {
  display: flex;
  flex-direction: column;
}

.input-field {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.button-container {
  display: flex;
  justify-content: space-between; /* Adjust as needed */
}

.submit-button,
.reset-button,
.cancel-button {
  padding: 10px 20px;
  margin-right: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.submit-button {
  background-color: #4caf50;
  color: white;
}

.reset-button {
  background-color: #f44336;
  color: white;
}

.cancel-button {
  background-color: #ccc;
  color: black;
}





